html,
body,
#app {
  margin: 0;
  padding: 0;
  height: 100%;
  min-width: 1200px;
}
a {
  text-decoration: none;
}
body .el-table th.gutter {
  display: table-cell !important;
}

body .el-table colgroup.gutter {
  display: table-cell !important;
}
